<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint:</strong>
  <%= @complaint.complaint %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
