/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
    font-size: 40px !important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    // margin: -7px;
    // margin-bottom: 0;
    // background-color: #c00;
    color: green;
  }

 h2 {
    text-align: center;
    font-weight: bold;
//    padding-top: 35px;
    font-size: 40px !important;
    font-family: "Times New Roman", Georgia, Serif;
    // margin: -7px;
    // margin-bottom: 0;
    // background-color: #c00;
    color: black;
  }


h3 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top: 35px;
    color: yellow;
    // margin: -7px;
    // margin-bottom: 0;
    // background-color: #c00;
    // color: #fff;
  }

 // .nav-link {
 //   font-size: 18px;
 //   font-weight: 500;
 //   text-align: center;
 //   width:90px;
 //   vertical-align: middle !important;;
 //   padding: 0.75 !important;
 //   color: blue !important;
 // }

 // li {
 //   padding: 0.75 !important;
 // }

// .btn {
//   height: 40px;
//   padding: 0 !important;
// }
//
// .btn-sm {
//    padding: 5px !important;
// }

.homepage {
  background-image: url("http://i.imgur.com/QdWY9zN.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
