<body class="homepage">


<% unless @current_user %>

<h1></h1>
<h1>For sick patients only.</h1>
<h1>If not sick, pls don't ke ke kheng for MC!</h1>

<h3></h3>
<h3><a href="/login">Log in</a> to book appointments</h3>

<% end %>
</body>
